.column-container {
    width: 20%;
    background-color: #7c888e;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Status style column */
.selected {
    background-color: #f0c825;
}
.running {
    background-color: #c41c31;
}
.evaluating {
    background-color: #2091e9;
}
.live {
    background-color: #8ed735;
}
/* END - Status style column */

.column-header {
    width: 100%;
    height: 60px;
    background-color: rgba(254, 254, 254, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column-header label{
    margin: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.btn-addCard {
    width: 35px;
    height: 35px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #2091e9;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
}
.column {
    color: #2091e9;
    background-color: #fff;
}
.btn-addCard:hover {
    cursor: pointer;
    color: #2091e9;
    background-color: #fff;
}
.btn-addCard.column:hover {
    cursor: pointer;
    color: #fff;
    background-color: #2091e9;
}
