.card-container{
    width: 96%;
    height: auto;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.body-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.completed label {
    text-decoration: line-through;
}
.completed .btn-edit{
    visibility: hidden;
}
.status {
    width: 100%;
    height: 45px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.status span{
    color: #98ca5b;
    font-size: 18px;
    font-weight: bold;
}
.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #98ca5b;
    color: #fff;
    margin: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button style */
.btn-edit{
    width: 35px;
    height: 35px;
    margin: 3px;
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #2091e9;
    font-size: 15px;
    border-radius: 50%;
}
.btn-edit:hover {
    cursor: pointer;
    color: #2091e9;
    background-color: #fff;
}
/* END is Button style */

/* Styling text */
.header-title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(33,32,37,0.80);
}
.description-title {
    font-size: 16px;
    font-weight: 600;
    color: rgba(33,32,37,0.65);
}
/* END if Styling text*/

/* Tags style */
.tags-container {
    width: auto;
    height: auto;
    margin: 10px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.UI-design-tag {
    text-align: center;
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
    padding: 3px;
    color: #f1f8e9;
    background-color: #98ca5b;
}
.marketing-tag {
    text-align: center;
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
    padding: 3px;
    color: #f1f8e9;
    background-color: #8c80e0;
}
.research-tag {
    text-align: center;
    margin: 0px 5px 0px 0px;
    border-radius: 5px;
    padding: 3px;
    color: #f1f8e9;
    background-color: #ca4554;
}
/* END is Tags style */
