.btn-search {
    width: 50px;
    height: 50px;

    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #2091e9;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
}
.btn-search:hover {
    cursor: pointer;
    color: #2091e9;
    background-color: #fff;
}
