.search-container {
    width: 200px;
    height: 30px;
    margin-right: 2.5%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
input {
    height: 25px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid rgba(157,164,158,0.6);
}
.btn-search {
    width: 50px;
    height: 50px;

    margin: 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #2091e9;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
}
.btn-search:hover {
    cursor: pointer;
    color: #2091e9;
    background-color: #fff;
}
