button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.btn-addCard {
    width: 35px;
    height: 35px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #2091e9;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}
.column {
    color: #2091e9;
    background-color: #fff;
}
